<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SymfonyTemplateManager</title>
    {% block css %}
        {% include "@TemplateManager/utils/common/css.html.twig" %}
    {% endblock %}
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
</head>
<body>
{% include "@TemplateManager/utils/sections/navbar.html.twig" %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block js %}
    {% include "@TemplateManager/utils/common/js.html.twig" %}
{% endblock %}
</body>
</html>