{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="row animated fadeIn">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Type creation</h3>
            </div>
            {{ form_start(form, {'attr': {'action': path('tm_type_new'), }}) }}
            <div class="panel-body">
                {{ form_widget(form) }}
            </div>
            <div class="panel-footer text-center">
                <button type="button" id="close" class="btn btn-default btn-sm">
                    <i class="fa fa-times"></i> Close
                </button>
                <button type="submit" class="btn btn-success btn-sm">
                    Create <i class="fa fa-plus"></i>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
