{% extends "@TemplateManager/utils/common/base.html.twig" %}

{% block content %}
    <div class="row">
        {% for template in templates %}
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ asset(template.thumbnail) }}" alt="Template Thumbnail">
                    <div class="caption">
                        <ul class="list-unstyled">
                            <li><b>Name:</b> {{ template.name }}</li>
                            <li><b>Type:</b> {{ template.type.name }}</li>
                        </ul>
                        <p class="text-center">
                            <a href="{{ path("tm_templates_edit", {'id': template.id}) }}"
                               class="btn btn-sm btn-primary">Edit</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}