{% extends "@TemplateManager/utils/common/base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>Template Manager</h1>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <a href="{{ path("tm_type") }}" class="btn btn-default">Templates Type</a>
                <a href="{{ path("tm_components") }}" class="btn btn-default">Template Components</a>
            </div>
        </div>
    </div>
{% endblock %}